[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
argcomplete = "*"
pep8 = "*"
more-itertools = "*"
pylint = "*"
pycodestyle = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
keras = "*"
tensorflow = "==1.12.3"
nmslib = "*"
dill = "*"
nltk = "*"
pathos = "*"
pypeln = "*"
bert-serving-client = "*"
jupyter = "*"
flask = "*"
flask-restplus = "*"
pydot = "*"

[requires]
python_version = "3.6"
