[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
more-itertools = "*"
pylint = "*"
pycodestyle = "*"
pandas = "*"
pypeln = "*"
boto3 = "*"
scikit-learn = "*"
matplotlib = "*"
keras = "*"
nmslib = "*"

[packages]
argcomplete = "*"

[requires]
python_version = "3.6"
